:root {
  --mq-space-narrow: 4px;
  --mq-space-base: 8px;
  --mq-space-xsmall: 12px;
  --mq-space-small: 16px;
  --mq-space-medium: 24px;
  --mq-space-large: 32px;

  /* White color */
  --mq-color-white: #ffffff;

  /* Grey color variations */
  --mq-color-grey110: #000000;
  --mq-color-grey100: #15171c;
  --mq-color-grey90: #33363e;
  --mq-color-grey80: #4f5156;
  --mq-color-grey70: #666870;
  --mq-color-grey60: #85868c;
  --mq-color-grey50: #a1a2a6;
  --mq-color-grey40: #bebec0;
  --mq-color-grey30: #d0d1d2;
  --mq-color-grey20: #e5e5e5;
  --mq-color-grey10: #f5f5f5;

  /* Red color variations */
  --mq-color-red10: #ffe8e5;
  --mq-color-red30: #ffd0cc;
  --mq-color-red50: #ff9b94;
  --mq-color-red70: #f7615c;
  --mq-color-red100: #dc3832;
  --mq-color-red110: #c02621;

  /* Green color variations */
  --mq-color-green10: #e6faeb;
  --mq-color-green30: #bdf0cd;
  --mq-color-green50: #8bd9a1;
  --mq-color-green70: #68c487;
  --mq-color-green100: #3aa65e;
  --mq-color-green110: #287140;

  /* Orange color variations */
  --mq-color-orange10: #fff0e0;
  --mq-color-orange30: #ffdfc2;
  --mq-color-orange50: #ffc58a;
  --mq-color-orange70: #ffb066;
  --mq-color-orange100: #f99b42;
  --mq-color-orange110: #f4813d;

  /* Blue color variations */
  --mq-color-blue10: #e6f3ff;
  --mq-color-blue30: #cce4fc;
  --mq-color-blue50: #9dccfa;
  --mq-color-blue70: #68abf2;
  --mq-color-blue100: #0f76de;
  --mq-color-blue110: #0d65bf;

  /* Gold color variations */
  --mq-color-gold10: #f8f4e7;
  --mq-color-gold30: #f0e8cf;
  --mq-color-gold50: #e7d9af;
  --mq-color-gold70: #ddc98f;
  --mq-color-gold100: #cfb35f;
  --mq-color-gold110: #b59841;

  --mq-checkbox-container-width-height: 40px;


  /* These are box shadow properties. naming is coming from design. */

  /** Level 1*/
  --mq-boxshadow-l1-down: 0px 0px 4px 0px rgba(0, 0, 0, 0.08), 0px 6px 4px -4px rgba(0, 0, 0, 0.08);

  --mq-boxshadow-l1-right: 0px 0px 4px 0px rgba(0, 0, 0, 0.08), 6px 0px 4px -4px rgba(0, 0, 0, 0.08);

  --mq-boxshadow-l1-up: 0px 0px 4px 0px rgba(0, 0, 0, 0.08), 0px -6px 4px -4px rgba(0, 0, 0, 0.08);

  --mq-boxshadow-l1-left: 0px 0px 4px 0px rgba(0, 0, 0, 0.08), -6px 0px 4px -4px rgba(0, 0, 0, 0.08);

  /** Level 2 */
  --mq-boxshadow-l2-down: 0px 0px 6px 0px rgba(0, 0, 0, 0.08), 0px 8px 8px -4px rgba(0, 0, 0, 0.1);

  --mq-boxshadow-l2-right: 0px 0px 6px 0px rgba(0, 0, 0, 0.08), 8px 0px 8px -4px rgba(0, 0, 0, 0.1);

  --mq-boxshadow-l2-up: 0px 0px 6px 0px rgba(0, 0, 0, 0.08), 0px -8px 8px -4px rgba(0, 0, 0, 0.1);

  --mq-boxshadow-l2-left: 0px 0px 6px 0px rgba(0, 0, 0, 0.08), -8px 0px 8px -4px rgba(0, 0, 0, 0.1);

  /** Level 3 */
  --mq-boxshadow-l3-down: 0px 0px 8px 0px rgba(0, 0, 0, 0.08), 0px 10px 16px -4px rgba(0, 0, 0, 0.1);

  --mq-boxshadow-l3-right: 0px 0px 8px 0px rgba(0, 0, 0, 0.08), 10px 0px 16px -4px rgba(0, 0, 0, 0.1);

  --mq-boxshadow-l3-up: 0px 0px 8px 0px rgba(0, 0, 0, 0.08), 0px -10px 16px -4px rgba(0, 0, 0, 0.1);

  --mq-boxshadow-l3-left: 0px 0px 8px 0px rgba(0, 0, 0, 0.08), -10px 0px 16px -4px rgba(0, 0, 0, 0.1);

  /** Level 4 */
  --mq-boxshadow-l4-down: 0px 0px 10px 0px rgba(0, 0, 0, 0.08), 0px 12px 20px -4px rgba(0, 0, 0, 0.1);

  --mq-boxshadow-l4-right: 0px 0px 10px 0px rgba(0, 0, 0, 0.08), 12px 0px 20px -4px rgba(0, 0, 0, 0.1);

  --mq-boxshadow-l4-up: 0px 0px 10px 0px rgba(0, 0, 0, 0.08), 0px -12px 20px -4px rgba(0, 0, 0, 0.1);

  --mq-boxshadow-l4-left: 0px 0px 10px 0px rgba(0, 0, 0, 0.08), -12px 0px 20px -4px rgba(0, 0, 0, 0.1);

  /* - Brand specific: Start */
  --mq-styles-link-color90: #3895f2;
  --mq-styles-link-color100: #117ad0;
  --mq-styles-link-color110: #0963b3;
  --mq-styles-link-color120: #085599;
  --mq-styles-link-hover-color90: #3895f2;
  --mq-styles-link-hover-color100: #117ad0;
  --mq-styles-link-hover-color110: #0963b3;
  --mq-styles-link-hover-color120: #085599;
  /* - Brand specific: End */

  /* mq-header: Start */
  --mq-header-z-index: 1;
  --mq-header-background: #000;
  --mq-header-text: #fff;
  --mq-header-search-background-color: #eeeeee;
  --mq-header-search-text-color: #666870;
  --mq-header-search-focused-background-color: #fff;
  --mq-header-search-focused-text-color: #33363e;
  --mq-header-logout-background-color: #1c2e48;
  --mq-header-search-dropdown-width: 124px;
  /* new */
  --mq-header-logo-width: auto;
  --mq-header-logo-height: 25px;
  /* mq-header: End */

  /* mq-sidenav: Start */
  --mq-sidenav-primary-width: 296px;
  --mq-sidenav-secondary-width: 376px;
  --mq-sidenav-z-index: 1030;
  --mq-sidenav-offset-top: 48px;
  --mq-sidenav-primary-bg-color: #2d323f;
  --mq-sidenav-primary-text-color: #ebf0f2;
  --mq-sidenav-primary-activeitem-bg-color: #3a8ddf;
  --mq-sidenav-primary-activeitem-text-color: #fff;
  --mq-sidenav-primary-hoveritem-and-secondary-bg-color: #f8f8f8;
  --mq-sidenav-primary-hoveritem-and-secondary-text-color: #33363e;
  --mq-sidenav-secondary-activeitem-bg-color: #fff;
  --mq-sidenav-secondary-activeitem-text-color: #33363e;
  --mq-sidenav-secondary-hoveritem-bg-color: #fff;
  --mq-sidenav-secondary-hoveritem-text-color: #33363e;
  --mq-sidenav-secondary-title-bg-color: #f0f0f0;
  --mq-sidenav-secondary-title-text-color: #33363e;
  --mq-sidenav-secondary-separator-color: #e5e5e5;
  --mq-sidenav-pin-icon-wrapper-bg-color: var(--mq-color-grey100);

  /* mq-sidenav: End */

  /* mq-slide-out-panel: Start */
  --mq-slide-out-panel-z-index: 1040;
  --mq-slide-out-panel-overlay-z-index: 1039;
  /* mq-slide-out-panel: End */

  /* mq-medalia theme: Start */
  --mq-medalia-survey-icon-cross-hover-color: #ecf0f4;
  --mq-medalia-survey-icon-cross-focus-color: #dae1ea;
  --mq-medalia-survey-icon-cross-color: #858c99;
  /* mq-medalia theme: End */

  /* mq-table: Start */
  --mq-table-hover-bg-color: #f5f5f5;
  --mq-table-selected-bg-color: #ececec;
  --mq-table-accordion-bg-color: #f5f5f5;
  /* mq-table: End */

  /* mq-table-basic: Start */
  --mq-table-basic-hover-bg-color: #f5f5f5;
  --mq-table-basic-selected-bg-color: #ececec;
  --mq-selector-group-header-bg-color: #f5f5f5;
  --mq-selector-group-header-hover-bg-color: #fff;
  /* mq-table-basic: End */

  /* mq-datepicker: Start */
  --mq-datepicker-selected-bg-color: #117ad0;
  --mq-datepicker-selected-color: #fff;
  --mq-datepicker-selected-range-color: #dae2eb;
  --mq-datepicker-hover-color: #ecf0f5;
  --mq-datepicker-hover-border-color: #446b98;
  --mq-datepicker-today-border-color: #3f4249;
  --mq-datepicker-table-header-text-color: #666870;
  --mq-datepicker-text-color: #15171c;
  --mq-datepicker-disabled-text-color: #c4cad1;
  /* mq-datepicker: End */

  /*mq-rating: start */
  --mq-rating-button-selected-bg: #117ad0;
  --mq-rating-button-hover-bg: #f5f5f5;
  /*mq-rating: End */

  /*mq-inline-edit: start */
  --mq-inline-edit-link-color: #0f76de;
  --mq-inline-edit-link-hover-color: #0d65bf;
  /*mq-inline-edit: End */

  /* mq-checkbox: Start */
  --mq-checkbox-hover-background-color: #dae2eb;
  /* mq-checkbox: End */

  /* mq-icon-button: Start */
  --mq-icon-button-hover-bg-color-enabled: #f5f5f5;
  --mq-icon-button-hover-bg-color-selected: #ececec;
  --mq-icon-button-hover-bg-color-disabled: #f9f9f9;
  --mq-icon-button-tooltip-text-color: #fff;
  --mq-icon-button-tooltip-background-color: #000;
  --mq-icon-button-color-disabled: #ccc;
  /* mq-icon-button: End */

  /* mq-button: Start */
  --mq-btn-primary-text-color: #ffffff;
  --mq-btn-primary-background-color: #117ad0;
  --mq-btn-primary-border-color: #117ad0;
  --mq-btn-primary-hover-background-color: #0963b3;
  --mq-btn-primary-hover-border-color: #0963b3;
  --mq-btn-primary-active-background-color: #085599;
  --mq-btn-primary-active-border-color: #130269;
  --mq-btn-tertiary-text-color: #117ad0;
  /* mq-button: End */

  /*mq-wizard: start */
  --mq-wizard-backdrop-color: #e5e5e5;
  --mq-wizard-background-color: #fff;
  /*mq-wizard: End */

  /* mq-selector: Start */
  --mq-selector-option-hover-bg-color: #f5f5f5;
  --mq-selector-panel-z-index: 100;
  /* mq-selector: End */

  /* mq-dropdown: Start */
  --mq-dropdown-option-hover-bg-color: #f5f5f5;
  --mq-dropdown-panel-z-index: 100;
  /* mq-dropdown: End */

  /* mq-telinput: Start */
  --mq-telinput-option-hover-bg-color: #f5f5f5;
  /* mq-telinput: End */
  /* mq-dropdown-menu: Start */
  --mq-dropdown-menu-item-hover-bg-color: #f5f5f5;
  /* mq-dropdown-menu: End */

  /* mq-toast: Start */
  --mq-toast-top-offset: 100px;
  --mq-toast-right-offset: 100px;
  --mq-toast-z-index: 1000;
  /* mq-toast: End */

  /* mq-tooltip: Start */
  --mq-tooltip-background-color: #fff;
  --mq-tooltip-text-color: #000;
  --mq-tooltip-inverted-background-color: var(--mq-color-grey90);
  --mq-tooltip-inverted-text-color: #fff;
  --mq-tooltip-maxwidth: 200px;
  --mq-tooltip-zindex: 1000;
  /* mq-tooltip: End */

  /* mq-popover: Start */
  --mq-popover-z-index: 1060;
  --mq-popover-bg-color: var(--mq-color-blue100);
  --mq-popover-border-color: var(--mq-color-blue100);
  --mq-popover-box-shadow-color: rgba(0, 0, 0, 0.2);
  --mq-popover-color: var(--mq-color-white);
  /* mq-popover: End */

  /* mq-noticebar: Start */
  --mq-noticebar-zindex: 1200;
  --mq-noticebar-position-top: 0px;
  /* mq-noticebar: End */

  /* mq-modal: Start */
  --mq-modal-zindex: 1250;
  --mq-modal-backdrop-zindex: 1240;
  /* mq-modal: End */

  /* mq-mfa: Start */
  --mq-mfa-switch-option-hover-color: var(--mq-color-grey10);
  --mq-mfa-loader-color: #3a8ddf;
  --mq-mfa-time-ticker-color: #3a8ddf;
  /* mq-mfa: End */

  /* mq-sub-nav: Start */
  --mq-sub-nav-text-color-default: #666870;
  --mq-sub-nav-text-color-active: #15171c;
  --mq-sub-nav-text-color-hover: #3a8dff;
  /* mq-sub-nav: End */

  /*mq-whats-new: Start */
  --mq-whats-new-z-index: 1030;
  /*mq-whats-new: End */

  /*mq-input-group: Start */
  --mq-input-group-addon-width: 128px;
  /*mq-input-group: End */

  /*mq-action-bar: Start */
  --mq-action-bar-z-index: 800;
  /*mq-action-bar: End */

  /*mq-back-to-top: Start */
  --mq-back-to-top-z-index: 1220;
  --mq-back-to-top-margin-bottom: var(--mq-space-small);
  /*mq-back-to-top: End */

  /*mq-alert: Start */
  --mq-alert-section-padding: 56px;
  /*mq-alert: End */

  /* mq-progress-tracker: Start */
  --mq-progress-tracker-steps-joint-width: 40px;
  /* mq-progress-tracker: End */

  /* mq-pill: Start */
  --mq-pill-maxwidth: 216px;
  /* mq-pill: End */

  /* mq-filter: Start */
  --mq-filter-dropdown-min-width: 240px;
  --mq-filter-dropdown-z-index: 1;
  /* mq-filter: End */

  /* mq-filter-selector: Start */
  --mq-filter-selector-dropdown-min-width: 360px;
  --mq-filter-selector-dropdown-list-max-height: 300px;
  --mq-filter-selector-dropdown-blur-height: calc(var(--mq-space-base) * 6);
  /* mq-filter-selector: End */

  /* mq-add-filter: Start */
  --mq-add-filter-dropdown-min-width: 240px;
  --mq-add-filter-dropdown-z-index: 1;
  --mq-add-filter-dropdown-list-max-height: 300px;
  --mq-add-filter-dropdown-blur-height: calc(var(--mq-space-base) * 6);
  /* mq-add-filter: End */
}